@{
    ViewData["Title"] = "Home Page";
}


<div class="IndexDiv">
    
    <p><h1 class="text-center font-weight-bolder">Inventory Control System</h1></p>
    <div class="row m-2">
        <div class="col-8">
            <p>
                <h3>
                    Welcome to the safest and effective way to protect your product inventory.
                </h3>
                <br />
                <h4>
                    Create a new easy-to-use inventory
                </h4>
                <br />
                <h5>
                    Get your seat before it's too late
                </h5>
            </p>
        </div>
            <div class="col-4">
               <img src="~/Images/2-removebg-preview (2).png" class="img-fluid"/>
            </div>
    </div>
</div>
